
@model IEnumerable<Restaurant.Models.FoodItem>
@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>
<div class="row">
    @foreach (var item in Model)
    {


        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img alt="100%x200" data-src="holder.js/100%x200" src="@Html.DisplayFor(modelItem => item.ThumbURL)" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.Name) <span class="badge">$@Html.DisplayFor(modelItem => item.Price)</span></h3>
                    <p>@Html.DisplayFor(modelItem => item.ShortDesc)</p>
                    <p><a href="#" class="btn btn-primary" role="button">Order</a></p>
                </div>
            </div>
        </div>
    }

</div>