
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sushi Express</h1>
    <p class="lead">Order delicious award winning sushi</p>
    <p><a href="~/Menu/" class="btn btn-primary btn-lg">Order now &raquo;</a></p>
</div>

