@{/***
                                       *Author: Irin Avery, Morrice Pfeiffer, Marco Duarte
                                       * Student Number: 200260949, 	200293988, 100006379
                                       * Date	Modified: Aug 18 2016
                                       * Short Version History: Scaffolded the homepage
                                       * Description: A view that directs users to our menu
                                    */
}

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sushi Express</h1>
    <p class="lead">Order delicious award winning sushi</p>
    <p><a href="~/Menu/" class="btn btn-primary btn-lg">Order now &raquo;</a></p>
</div>

