/***
                           *Author: Irin Avery, Morrice Pfeiffer, Marco Duarte
                           * Student Number: 200260949, 	200293988, 100006379
                           * Date	Modified: Aug 18 2016
                           * Short Version History: Adjusted jumbotron to have image of sushi in it
                           * Description: Our site CSS
 */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.thumbnail{
    
   position: relative;
}
.thumbnail .caption{
    text-align:center;
}
.food-item{
    padding-top:10px;
}
.item-background{    
   background-color: #EBEBEB;
    
}
.menu-banner{
    padding-left:30px;
   background-color: #444444;
   border-bottom:5px solid #d9534f;
   color:#ebebeb;
   text-align:left;
}
.quantity-input{
    width:100px;
}
.price-tag{   
   padding: 4px;
   font-size:2em;
   font-weight: bold; 
   float: right;
   position: absolute;
   right: 4px;
   top: 4px;
   z-index: 1000;
   padding: 5px;
}
.shopping-nav{
    padding-top:10px;
    padding-bottom:10px;
   background-color: #444444;
   border-bottom:5px solid #d9534f;
   color:#ebebeb;
}
.footer{
    margin-top:20px;
    text-align:center;
    vertical-align:central;

    background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}
.copyright{
    margin-top:10px;
}
.red-icon{
    color:#d9534f;
}
.jumbotron{
    margin-top:10px;
    color:white;
 height:600px;
background-image: url("/Assets/images/sushibg.jpg");
background-size: cover;}
}