/**
    @file name: Site.css
    @author: Morrice and Irin
    @website: http://restuarant-sushi.azurewebsites.net/
    @description: Our site CSS

*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.thumbnail{
    
   position: relative;
}
.thumbnail .caption{
    text-align:center;
}
.food-item{
    padding-top:10px;
}
.item-background{    
   background-color: #EBEBEB;
    
}
.menu-banner{
    padding-left:30px;
   background-color: #444444;
   border-bottom:5px solid #d9534f;
   color:#ebebeb;
   text-align:left;
}
.quantity-input{
    width:100px;
}
.price-tag{    
   float: left;
   position: absolute;
   left: 0px;
   top: 0px;
   z-index: 1000;
   padding: 5px;
}